<html>
<head>
  <title>AECC Love Messages</title>
</head>
<body>
  <h3>Hey, give me some info on a love message</h3>
  <form action='message' method='post'>
    <input type='text' name='sender' placeholder='De quien?' required>
    <input type='text' name='receiver' placeholder='Para quien?' required>
    <input type='phone' name='phone' placeholder='787-123-4567' required>
    <input type='email' name='email' placehoder='me@example.com'>
    <input type='password' name='password' placeholder='Encripta tu mensaje'>
    <textarea name='text'></textarea>
    <input type='submit' value='Someter'>
  </form>
</body>
</html>